<div class="side-panel">
  <h2>Dashboard</h2>

  <a href="/teachers/dashboard/info">Teacher Info</a>

  <a href="/teachers/dashboard/courses">Courses</a>

  <a href="/teachers/dashboard/score">Score</a>
</div>
