<html>
  <head>
    <title><%= teacher.first_name %> <%= teacher.last_name %></title>

    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
  </head>

  <body>
    <%- include('../Partials/teacherDashboardSidePanel.ejs') %>
  </body>
</html>
