<html>
  <head>
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
  </head>

  <body>
    <%- include('../Partials/adminDashboardSidePanel.ejs') %>
  </body>
</html>
