<html>
  <head>
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
  </head>

  <body>
    <%- include('../Partials/adminDashboardSidePanel.ejs') %>

    <div class="content">
      <h1>Add Course</h1>

      <% if (message) { %>
      <p class="message"><%= message %></p>
      <% } %> <% if (course) { %>
      <p class="success">Course <%= course.name %> created.</p>
      <% } %>

      <form action="/admin/dashboard/addCourse" method="post">
        <label> Course Name <input type="text" name="name" /> </label>
        <br /><br />
        <label> Course ID <input type="text" name="courseID" /> </label>
        <br /><br />
        <label>
          Teacher (national Number) <input type="text" name="teacher" />
        </label>
        <br /><br />
        <input type="submit" value="Add" />
      </form>
    </div>
  </body>
</html>
