<!DOCTYPE html>

<head>
    <title>
        <%= student.first_name %>
        <%= student.last_name %>
    </title>

    <link rel="stylesheet" type="text/css" href="/dashboard.css">
</head>

<body>
    <%- include('../Partials/studentDashboardSidePanel.ejs') %>
</body>

</html>